parameters:
    level: max
    paths:
        - src
        - config
    scanFiles:
        - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - message: '#Access to protected property Symfony\\Component\\HttpKernel\\Kernel::\$startTime.#'
          path: 'src/Http/KernelHandler.php'
        - message: '#Call to an undefined method#'
          path: 'src/DependencyInjection'
        - message: '#Cannot cast mixed to string.#'
          path: 'src/Integration/PHP/NativeSessionMiddleware.php'
        - message: '#Cannot cast mixed to string.#'
          path: 'src/Worker/Worker.php'
