parameters:
    level: max
    paths:
        - src
        - config
    scanFiles:
        - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - message: '#Access to protected property Symfony\\Component\\HttpKernel\\Kernel::\$startTime.#'
          path: 'src/Http/KernelHandler.php'
        - message: '#Cannot call method arrayNode#'
          path: 'src/DependencyInjection'
        - message: '#Class Sentry\\FlushableClientInterface not found#'
          path: 'src/Helpers/SentryHelper.php'
        - message: '#Call to method flush\(\) on an unknown class Sentry\\FlushableClientInterface#'
          path: 'src/Helpers/SentryHelper.php'
        - message: '#Call to an undefined method Sentry\\Event::getUserContext\(\)#'
          path: 'src/Helpers/SentryHelper.php'